.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--cor-fonte-principal);
}

.link:hover{
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.5s;
}

.linkDestacado{
    text-decoration: underline;
}
